flow.json
[{"id":"a3dd7976.9afb18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5887f7f7.b0c688","type":"tab","label":"Flow 2 prv","disabled":false,"info":""},{"id":"a1acc69f.e192d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d9408ddb.b424e","type":"ethers-network","z":"","name":"","url":"kovan"},{"id":"3ff60155.4a9ffe","type":"ethers-wallet","z":"","name":"MM kovan Test","keyPublic":"0x87e2b8dB6c28acaA46cC5C2A5930d385b2cA1FCb"},{"id":"38ee9d69.f177a2","type":"ethers-contract","z":"","name":"kovan test contract","address":"0x4F96Fe3b7A6Cf9725f59d353F723c1bDb64CA6Aa"},{"id":"7d3870a1.0a2b3","type":"ethers-contract","z":"","name":"Kovan Moloch v2","address":"0xd33Fc04d1aF591Bdd43E31869D7537F25075A833"},{"id":"893a05d4.65cfb8","type":"ethers-contract","z":"","name":"Kovan Memory Test","address":"0xD2e3FAd35a5e38Fb0568c5e0EDBB246da6FA1E62"},{"id":"37cc49c9.804c86","type":"ethers-wallet","z":"","name":"Kovan Moloch v2 wallet","keyPublic":"0xa150A1DFf75035558b82171CF7804081205Ffbb2"},{"id":"f70661a1.d6b03","type":"ethers-etherscan","z":"","name":""},{"id":"47a877b5.811878","type":"inject","z":"a3dd7976.9afb18","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["76d1ee77.72adb"]]},{"id":"a0d00c4.081f8f","type":"debug","z":"a3dd7976.9afb18","name":"config trace","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":300,"wires":[]},{"id":"76d1ee77.72adb","type":"function","z":"a3dd7976.9afb18","name":"params","func":"ethers = global.get(\"ethers\");\n\nlet abi = flow.get(\"abi_uniswap_exchange\");\n\netherAmount = ethers.utils.parseEther('1');\nmimToken = ethers.utils.parseEther('10');\n\nmsg.payload.config = {\n  \"contractAddress\" : flow.get(\"contract_address_dai_exchange\"),\n  abi,\n  \"pk\" : flow.get(\"deployer_pk\"),\n  \"apiCall\" : \"ethToTokenSwapInput\",\n  \"value\" : etherAmount,\n  \"args\" : [mimToken, ethers.utils.parseEther('100')],\n  \"params\": [\"0x1fe0c4488fd3f3f70204d5709945bc4b0a99672e\"]\n};\nmsg.payload.ether = null;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["a0d00c4.081f8f","99f965bd.abc548"]]},{"id":"71dc47f0.50e2f8","type":"debug","z":"a3dd7976.9afb18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":360,"wires":[]},{"id":"99f965bd.abc548","type":"ethers-transaction","z":"a3dd7976.9afb18","name":"update delegate","etherscan":"f70661a1.d6b03","network":"d9408ddb.b424e","wallet":"37cc49c9.804c86","output":"payload.result","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"str","gaslimit":"","contract":"7d3870a1.0a2b3","apiCall":"updateDelegateKey","params":[],"param0":"0x5bb3e1774923b75Ecb804E2559149BbD2a39A414","typeParam0":"str","param1":[],"param2":"","param3":"","param4":"","param5":"","x":780,"y":360,"wires":[["71dc47f0.50e2f8"]]},{"id":"b54b5b2.63edda8","type":"inject","z":"a3dd7976.9afb18","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["cd49c2c1.c3bbe"]]},{"id":"cd49c2c1.c3bbe","type":"function","z":"a3dd7976.9afb18","name":"params","func":"ethers = global.get(\"ethers\");\n\nlet abi = flow.get(\"abi_uniswap_exchange\");\n\netherAmount = ethers.utils.parseEther('1');\nmimToken = ethers.utils.parseEther('10');\n\nmsg.payload.config = {\n  \"value\" : etherAmount,\n  \"args\" : [mimToken, ethers.utils.parseEther('100')],\n  \"address\": \"0x1a59adee1e706a07d0bc1a5fabfce316ffa0b754\"\n};\n\nmsg.payload.ether = null;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["88d56274.bc5e9"]]},{"id":"7fbe6028.c4aa5","type":"debug","z":"a3dd7976.9afb18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":180,"wires":[]},{"id":"88d56274.bc5e9","type":"ethers-transaction","z":"a3dd7976.9afb18","name":"balanceOf read","etherscan":"f70661a1.d6b03","network":"d9408ddb.b424e","wallet":"","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"msg","ether":"","etherType":"str","gaslimit":"","contract":"38ee9d69.f177a2","apiCall":"balanceOf","params":["payload.config.address"],"param0":"payload.config.address","typeParam0":"msg","param1":[],"param2":"","param3":"","param4":"","param5":"","x":600,"y":180,"wires":[["7fbe6028.c4aa5"]]},{"id":"c00a79f8.ffe0c8","type":"inject","z":"a3dd7976.9afb18","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["240293bf.b7a8ac"]]},{"id":"46a78a82.d93684","type":"debug","z":"a3dd7976.9afb18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":460,"wires":[]},{"id":"240293bf.b7a8ac","type":"ethers-transaction","z":"a3dd7976.9afb18","name":"update memory addr","etherscan":"f70661a1.d6b03","network":"d9408ddb.b424e","wallet":"3ff60155.4a9ffe","output":"payload.result","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"str","gaslimit":"","contract":"893a05d4.65cfb8","apiCall":"setAddr","params":[],"param0":"0","typeParam0":"str","param1":"0x5bb3e1774923b75Ecb804E2559149BbD2a39A414","typeParam1":"str","param2":"","param3":"","param4":"","param5":"","x":380,"y":460,"wires":[["46a78a82.d93684"]]},{"id":"344059c0.1e3d96","type":"inject","z":"a3dd7976.9afb18","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["59a3a1ca.6c461"]]},{"id":"b21ebf12.50809","type":"debug","z":"a3dd7976.9afb18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":100,"wires":[]},{"id":"59a3a1ca.6c461","type":"ethers-transaction","z":"a3dd7976.9afb18","name":"balanceOf read","etherscan":"f70661a1.d6b03","network":"d9408ddb.b424e","wallet":"","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"str","gaslimit":"","contract":"38ee9d69.f177a2","apiCall":"DOMAIN_SEPARATOR","params":[],"param0":"0x1a59adee1e706a07d0bc1a5fabfce316ffa0b754","typeParam0":"str","param1":[],"param2":"","param3":"","param4":"","param5":"","x":420,"y":100,"wires":[["b21ebf12.50809"]]},{"id":"65f2a7b6.50bcc8","type":"ethers-transaction","z":"5887f7f7.b0c688","name":"","etherscan":"f70661a1.d6b03","network":"d9408ddb.b424e","wallet":"37cc49c9.804c86","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"str","gaslimit":"","contract":"38ee9d69.f177a2","apiCall":"name","params":[],"param0":"","typeParam0":"","param1":"","typeParam1":"","param2":"","typeParam2":"","param3":"","typeParam3":"","param4":"","typeParam4":"","param5":"","typeParam5":"","param6":"","typeParam6":"","x":200,"y":220,"wires":[["7c9e762c.214878"]]},{"id":"32548b82.079ee4","type":"inject","z":"5887f7f7.b0c688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["65f2a7b6.50bcc8"]]},{"id":"7c9e762c.214878","type":"debug","z":"5887f7f7.b0c688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":360,"wires":[]},{"id":"896c22ed.63613","type":"inject","z":"a1acc69f.e192d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[[]]},{"id":"ef859a4.d6d4468","type":"debug","z":"a1acc69f.e192d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":220,"wires":[]},{"id":"8ac9b506.a0e828","type":"ethers-transaction","z":"a1acc69f.e192d8","name":"","etherscan":"f70661a1.d6b03","network":"d9408ddb.b424e","wallet":"37cc49c9.804c86","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"str","gaslimit":"","contract":"38ee9d69.f177a2","apiCall":"name","params":[],"param0":"","typeParam0":"str","x":440,"y":220,"wires":[[]]}]